@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  <===========================================>
                 Banner section start ...
    <===========================================> */

.banner {
  display: block;
  background-image: linear-gradient(
      180deg,
      rgb(7, 2, 17),
      rgba(7, 2, 17, 0) 100%
    ),
    url("../assets/images/banner-Image.png");
  border-radius: 16px;
  width: 1320px;
  height: 600px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner .banner-text {
  height: 246px;
  width: 632px;
  position: relative;
  top: 7%;
}

.banner .banner-text h3 {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 16px;
}

.banner .banner-text h1 {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 49px;
  font-weight: 900;
  line-height: 65px;
  letter-spacing: 0%;
  text-align: center;
}

/*  <===========================================>
            New year offer section start ...
    <===========================================> */

.newyear-offer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 82px;
}
.offer {
  height: 556px;
  width: 553px;
}

.newyear-offer .offer h1 {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 60px;
  font-weight: 700;
  line-height: 73px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 33px;
}

.newyear-offer .offer h3 {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 11px;
}

.newyear-offer .offer h2 {
  color: rgb(7, 2, 17);
  font-family: Inter;
  font-size: 33px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 33px;
}

.newyear-offer .offer .offer-img{
    width: 100%;
}

.newyear-offer .offer .offer-img img{
    width: 100%;
}